<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add Brand</title>
</head>
<body>
  
  <h1>Geocoding-App</h1>
    <h2 class="add-brand-title">Add Brands and Address</h2>

    <div class="routes">
      <a class="button" href="{{ url_for('view_all') }}">View All</a>
      <a class="button" href="{{ url_for('logout') }}">Logout</a>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="box2">
      <form method="post" action="{{ url_for('add_brand_and_addresses') }}">
        <label for="brand_name">Brand Name:</label>
        <input type="text" id="brand_name" name="brand_name" required><br><br>
      
        <label for="addresses">Addresses:</label>
        <input type="text" id="addresses" name="address" required><br>
        <input type="text" id="addresses" name="address" required><br>
        <input type="text" id="addresses" name="address" required><br>
      
        <input type="submit" value="Add Brand and Addresses">
      </form>
    </div>

  </body>
</html>