<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Brand</title>
</head>
<body>
    <h1>Add Brand and Address</h1>
    <form method="post" action="/add_brand">
      <label for="brand_name">Brand Name:</label>
      <input type="text" id="brand_name" name="brand_name" required><br><br>
      
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" required><br><br>
      
      <input type="submit" value="Add Brand and Address">
    </form>
  </body>
</html>