<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Geocoding-App</h1>

    <div class="routes">
        {% if current_user.is_authenticated %}
            <p class="login-status">Hello, {{ current_user.email }}! You are logged in.</p>
            <a class="button" href="{{ url_for('add_brand') }}">Add Brand</a>
            <a class="button" href="{{ url_for('view_all') }}">View All</a>
            <a class="button" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
    </div>

    <div class="container">
        <div class="box">       
            <h2>Login</h2>
                <form action="{{ url_for('login') }}" method="POST">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    <br>
                    <input type="submit" value="Login">
                </form>
        </div>

        <div class="box">
            <h2>Register</h2>
                <form action="{{ url_for('register') }}" method="POST">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    <br>
                    <input type="submit" value="Register">
                </form>
            {% endif %}
        </div>
    </div>
    
</body>
</html>