<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Profile</title>
</head>
<body>
  
  <h1>Geocoding-App</h1>
  <h2>View All Brands and Addresses</h2>

  <div class="routes">
    <a class="button" href="{{ url_for('add_brand') }}">Add Brand</a>
    <a class="button" href="{{ url_for('logout') }}">Logout</a>
  </div>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

  {% for brand in brands %}
    <div class="view-all">

      <h2>{{ brand.brand_name }}</h2>
      
      <h4>Addresses:</h4>

        <ul>
          {% for address in brand.addresses %}
            <li>{{ address.address_name }}</li>
          {% endfor %}
        </ul>

        <form method="post" action="{{ url_for('delete_brand', brand_id=brand.id) }}">
          <input type="submit" value="Delete">
        </form>

        <form method="post" action="{{ url_for('geocode_addresses', brand_id=brand.id) }}">
          <input type="submit" value="Geocode Addresses">
        </form>

    </div>
  {% endfor %}

</body>
</html>