<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>View All Brands and Addresses</h1>
    
    <table>
      <tr>
        <th>Brand</th>
        <th>Address</th>
        <th>Actions</th>
        <button>Delete Address</button>
        <button>Delete Brand</button>
        <input>Update Address</input>
    </tr>
     
    </table>
    
    <br>
    
    <button>This Button will take all addresses under a brand convert them to a csv and then download them</button>
  </body>
</html>